<!DOCTYPE html>
<html lang="en">

<head>
  <title>MCT GROUP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- google map için -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include("partials/header") %>
  <!-- END header -->
  <div class="top-shadow"></div>
  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-12 text-center col-sm-12 element-animate" id="sliderText">
            <h1 class="mb-4"><span> MCT GROUP </span></h1>
            <p class="mb-5 w-75">Uzman Kadromuz ve İş disiplinimizle hizmetinize hazırız.</p>
          </div>
          ​<picture style="width : 50%">
            <img src="images/itfaiye_logo.png" id="itfaiye_logo" class="img-fluid" alt="...">
            <img src="images/buyuksehir_bel.png" id="belediye_logo" class="img-fluid" alt="...">
          </picture>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url('images/hero_2.jpg');">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-7 text-center col-sm-12 element-animate" id="sliderText">
            <h1><span>MCT GROUP</span></h1>
            <p class="mb-5 w-75">Uzman Kadromuz ve İş disiplinimizle hizmetinize hazırız.</p>
          </div>
          ​<picture style="width : 50%">
            <img src="images/itfaiye_logo.png" id="itfaiye_logo" class="img-fluid" alt="...">
            <img src="images/buyuksehir_bel.png" id="belediye_logo" class="img-fluid" alt="...">
          </picture>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-lg-4 order-lg-1">
          <div class="h-100">
            <div class="frame h-100">
              <div class="feature-img-bg h-100" style="background-image: url('images/test.jpg');"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-8 feature-1-wrap d-md-flex flex-md-column order-lg-1">
          <div class="block-41">
            <h2 class="block-41-heading mb-5 text-center">Baca Temizleme</h2>
            <div class="block-41-text">
              <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri
                standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının
                yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>

              <p><a href="/bacatemizleme" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section element-animate">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-5 order-md-2">
          <div class="h-100">
            <div class="frame h-100"><img src="images/koltuk-temizleme.jpg" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-lg-7 col-md-5 pr-md-5 mb-5">
          <div class="block-41">
            <h2 class="block-41-heading mb-5">Koltuk Temizleme</h2>
            <div class="block-41-text">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
              <p><a href="/koltuktemizleme" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Yapılan Projeler Bölümü -->
  <section class="section border-t pb-0">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center">
          <h2 class=" heading mb-4">Yapılan Hizmetlerimiz</h2>
          <p class="mb-5 lead">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-4 element-animate">
          <a href="#" class="link-thumbnail">
            <h3>Test</h3>
            <span class="ion-plus icon"></span>
            <img src="images/800x600.png" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
          <a href="/referanslar" class="link-thumbnail">
            <h3>Test</h3>
            <span class="ion-plus icon"></span>
            <img src="images/800x600.png" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
          <a href="/referanslar" class="link-thumbnail">
            <h3>Test</h3>
            <span class="ion-plus icon"></span>
            <img src="images/800x600.png" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
          <a href="/referanslar" class="link-thumbnail">
            <h3>Test</h3>
            <span class="ion-plus icon"></span>
            <img src="images/img_3.jpg" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
          <a href="/referanslar" class="link-thumbnail">
            <h3>Test</h3>
            <span class="ion-plus icon"></span>
            <img src="images/800x600.png" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4 element-animate">
          <a href="/referanslar" class="link-thumbnail">
            <h3>Test</h3>
            <span class="ion-plus icon"></span>
            <img src="images/img_4.jpg" alt="Image" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <!--Footer Bölümü -->
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mb-5">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1532.7290687129644!2d30.49831555829545!3d39.79671414486053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80d66ab6e363ab1e!2zU2Ftc2F0IMOHacSfa8O2ZnRlY2lzaSBZZcWfaWx0ZXBlIMWedWJlc2k!5e0!3m2!1str!2str!4v1567253364123!5m2!1str!2str"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="col-md-5 mb-5 pl-md-5">
          <h3>İletişim</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block">
              <span class="d-block">Adres:</span>
              <span>Yeşiltepe Mahallesi Bilgeç Caddesi No:43/B</span></li>
            <li class="d-block"><span class="d-block">Telefon:</span><span>+222 330 44 45</span></li>
            <li class="d-block"><span class="d-block">Email:</span><span>www.test.com</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script> Tüm hakları saklıdır <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://talpidaex.github.io" target="_blank" class="text-primary">Oguzhan Bayrak</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/main.js"></script>

</body>

</html>