<!DOCTYPE html>
<html lang="tr">

<head>
  <title>MCT GROUP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow" />
  <meta name="title" content="MCT GROUP ESKİŞEHİR BACA TEMİZLEME" />
  <meta name="description" content="Eskişehirde Baca Temizleme ve Koltuk Temizleme ihtiyaçlarınıza kurumsal çözümler sunmaktayız" />
  <meta name="keywords" content="eskişehir baca, eskişehir baca temizleme, baca temizleme , koltuk temizleme , Eskişehir koltuk temizleme, işyeri koltuk temizleme , araba koltuk temizleme" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%- include("partials/header") %>
  <!-- END header -->

  <div class="top-shadow"></div>
  <div class="inner-page">
    <div class="slider-item" style="background-image: url('images/bacaTemizlik-3.jpg');">

      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
            <h1 class="pt-5"><span>Baca Temizleme</span></h1>
            <p class="mb-5 w-75 pl-0"> Kurumlu & Yağlı Kanal & Fırın Bacaları temizleme </p>
          </div>
        </div>
      </div>


      <!--   KURUMLU BACA TEMİZLEME -->

      <section class="section element-animate">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
          </div>
          <div class="row align-items-stretch">
            <div class="col-lg-4 order-lg-1">
              <div class="h-100">
                <div class="frame h-100">
                  <div class="feature-img-bg h-100" style="background-image: url('images/bacaTemizlik-2.jpg');"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-8 feature-1-wrap d-md-flex flex-md-column order-lg-1">
              <div class="block-41">
                <h2 class="block-41-heading mb-5 text-center">Kurumlu Baca Temizleme</h2>
                <div class="block-41-text">
                  <p>Kurumlu baca temizleme,Evlerdeki ya da iş yerlerindeki soba kurulumunda yapılması önerilen ilk işlem baca temizleme işlemi olmalıdır.Kurumlu baca temizleme işleminin gerçekleştirilmediği durumlarda, bacayı kaplayan kurumlar
                    yüzünden baca kanalının çapı küçülmekte, bu durum ise soba verimliliğinin düşmesine ve duman zehirlenmelerine neden olabilmektedir.
                    Kurumlu baca temizliği için geliştirilmiş özel temizlik çubukları ve çelik fırçalar aracılığı ile evlerde ve iş yerlerinde <strong> MCT GROUP </strong> uzman ekibinin özenli ve çevreye
                    duyarlı
                    çalışmalarıyla
                    gerçekleştirilen temizlik işleminde etraf kirletilmemeye özen gösterilmektedir.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- YAĞLI BACA TEMİZLEME -->
      <section class="section element-animate">
        <div class="container">
          <div class="row align-items-center mb-5">
            <div class="col-lg-5 order-md-2">
              <div class="h-100">
                <div class="frame h-100"><img src="images/bacaTemizlik-1.jpg" alt="Image" class="img-thumbnail"></div>
              </div>
            </div>
            <div class="col-lg-7 col-md-5 pr-md-5 mb-5">
              <div class="block-41">
                <h2 class="block-41-heading mb-5">Yağlı Kanal Temizleme</h2>
                <div class="block-41-text">
                  <p>Sertifikalı yağlı kanal temizliği,Baca temizleme,Güvenli bir baca temizliği,Binaların restoranların ya da şirketlerin mutfaklarının bağlı olduğu baca kanalları,davlumbazdan çekilen yağ tabakası ile zamanla kaplanarak kirlenir ve
                    bu durum baca kanallarının ve bacanın tıkanmasına yol açar.İlgili Kurum Başkanlığı’nca zorunlu kılınan ve uzman ekiplerce gerçekleştirilmesi gereken yağlı kanal temizleme, zamanla kanalın her yerini kaplayan yapışkan yağ
                    tabakasının temizlenme işlemidir.Eskişehir'in her yerinde yağlı kanal temizliği hizmeti vermekte olan MCT GROUP, bacada oluşabilecek tıkanmalar sebebiyle gerçekleşebilecek patlama risklerini minimize etmektedir.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="section element-animate">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
          </div>
          <div class="row align-items-stretch">
            <div class="col-lg-4 order-lg-1">
              <div class="h-100">
                <div class="frame h-100">
                  <div class="feature-img-bg h-100" style="background-image: url('images/bacaTemizlik-5.jpg');"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-8 feature-1-wrap d-md-flex flex-md-column order-lg-1">
              <div class="block-41">
                <h2 class="block-41-heading mb-5 text-center">Fırın Baca Temizleme</h2>
                <div class="block-41-text">
                  <p>Fırın baca temizleme, hangi yakıt türü ile çalıştığı fark etmeksizin belli aralıklarla yerine getirilmesi gereken bir faaliyettir. Gıda üzerine hizmet veren ve özellikle büyük sanayi tipi fırınlarla pişirme işlemi yapılan
                    yapılarda, yanıcı maddenin çıkardığı gaz ve kirli havanın tahliyesi önem taşımaktadır. Yanan odun ve kömür ya da gaz yakıtın salgıladığı isli hava çevre dokulara ve özellikle gıda ürünlerine yayılmadan ve iç alanlara yanan
                    maddeden çıkan zehirli gazlar dağılmadan iyi bir çekiş gücüne sahip baca tarafından dışa aktarılması gerekmektedir. Ayrıca bu işletmeleri 3 aylık periyotlarda fırın bacalarını temizletmeleri de bir zorunluluktur. Fırın ve ocak
                    bacalarının temizlenmesi ve benzer uygulamarı hayata geçiren firmamızdan garantili hizmet alımını sağlayabilirsiniz.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <%-include("partials/footer"); %>
      <!-- loader -->
      <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
          <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
          <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/jquery.fancybox.min.js"></script>
      <script src="js/main.js"></script>

</body>

</html>