<!DOCTYPE html>
<html lang="tr">

<head>
  <title>MCT GROUP BACA TEMİZLEME & ILACLAMA  - ESKİŞEHİR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="depPmfkNa9qWuQfZ5mqN7hwrH7-9Rb-_opDsRQMh-lM" />
  <meta name="robots" content="index, follow" />
  <meta name="title" content="MCT GROUP ESKİŞEHİR BACA TEMİZLEME" />
  <meta name="description" content="Eskişehirde Baca Temizleme ve İ ihtiyaçlarınıza kurumsal çözümler sunmaktayız" />
  <meta name="keywords" content="eskişehir baca, eskişehir baca temizleme, baca temizleme , koltuk temizleme , Eskişehir koltuk temizleme, işyeri koltuk temizleme , araba koltuk temizleme" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%- include("partials/header") %>
  <!-- END header -->

  <div class="top-shadow"></div>
  <div class="inner-page">
    <div class="slider-item" style="background-image: url('images/ilaclama-slider.jpeg');">

      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
            <h1 class="pt-5"><span>İlaçlama</span></h1>
            <p class="mb-5 w-75 pl-0">MCT GROUP Sağlık Bakanlığı onaylı ruhsatlı İlaçlama firmasıdır.</p>
          </div>
        </div>
      </div>

      <section class="section element-animate">
        <div class="container">
          <div class="row align-items-center mb-5">
            <div class="col-lg-5 order-md-2">
              <div class="h-100">
                <div class="frame h-100">
                  <img src="images/ilaclama-1.jpeg" alt="Image" class="img-thumbnail" style="height:400px"></div>
              </div>
            </div>
            <div class="col-lg-7 col-md-5 pr-md-5 mb-5">
              <div class="block-41">
                <h2 class="block-41-heading mb-5">Biz kimiz?</h2>
                <div class="block-41-text">
                  <p>Eğitimli ve uzman kadrosu ile uzun yıllardır sizlere hizmet vermekte olan bir ilaçlama firmasıdır. MCT GROUP Sağlık Bakanlığı onaylı ruhsatlı İlaçlama firmasıdır. 
                  Tarafımızca kullanılan ilaçlar insan sağlığına zarar vermemektedir.
                  MCT GROUP;Daha iyi hizmet sunabilmek için dünyada ilaçlama konusunda kullanılan tüm yöntem ve ilaçları yakından takip ederek son teknoloji aletler ile müşterilerine hizmet sunmaktadır.  MCT GROUP tarafından kullanılan ilaçlar insan sağlığına zararsız ilaçlar olup, firmamız bünyesinde çalışan ziraat mühendislerimiz tarafından özel olarak hazırlanmaktadır.</p>
                </div>
              </div>
              <div class="row">
              <div class="col-lg-4">
                <ul>
                  <li>Akarlar (Mite)</li>
                  <li>Hamam Böceği</li>
                  <li>Güve</li>
                  <li>Kara sinek</li>
                  <li>Peygamber devesi</li>
                  <li>Pire</li>
                  <li>Saç biti</li>
              </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li>Arı</li>
                  <li>Ateş böceği</li>
                  <li>Çekirge</li>
                  <li>Kelebek</li>
                  <li>Kene</li>
                  <li>Salyangoz</li>
                  <li>Tahta kurdu</li>
                  <li>Tahtakurusu</li>
              </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li>Karınca</li>
                  <li>Cırcır böceği</li>
                  <li>Çıyan</li>
                  <li>Gümüş böceği</li>
                  <li>Kırkayak</li>
                  <li>Kulağakaçan</li>
                  <li>Sivrisinek</li>
                  <li>Un güvesi</li>
              </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>

      
      <section class="section element-animate">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
          </div>
          <div class="row align-items-stretch">
            <div class="col-lg-4 order-lg-1">
              <div class="h-100">
                <div class="frame h-100">
                  <div class="feature-img-bg h-100" style="background-image: url('images/ilaclama-2.jpeg');"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-8 feature-1-wrap d-md-flex flex-md-column order-lg-1">
              <div class="block-41">
                <h2 class="block-41-heading mb-5 text-center">Haşere İlaçlama</h2>
                <div class="block-41-text">
                  <p>MCT GROUP; olarak size en etkin böcek ilaçlama yöntemini sunuyoruz. Bizim doğru müdahalelerimiz sayesinde böcekler artık sizin için sorun olmaktan çıkacak. Böcek ilaçlama da, böcek ve türüne göre yapılacak olan ilaçlama sayesinde artık; yaşam alanınızı böceklerle paylaşmanıza gerek kalmayacak. Tüm böcek ve haşere ilaçlamaları alanında uzman destek sağlamaktadır. Sizde eğer herhangi bir böcek ya da haşere sorunu yaşıyorsanız tek yapmanız gereken iletişim kısmından bize ulaşmak. Arkanıza yaslanın ve profesyonel destek almanın keyfini çıkarın. Böcek ilaçlama da doğru yöntemleri kullanmak böcek ilaçlamasının başarılı olması için gereken en önemli hususlardan birisidir. Biz sizin için en doğru böcek ilaçlama yöntemini kullanırken sizde bunun tadını çıkarın.</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>

      <section class="section element-animate">
        <div class="container">
          <div class="row align-items-center mb-5">
            <div class="col-lg-5 order-md-2">
              <div class="h-100">
                <div class="frame h-100"><img src="images/kemirgen-4.jpeg" alt="Image" class="img-fluid" style="height:300px"></div>
              </div>
            </div>
            <div class="col-lg-7 col-md-5 pr-md-5 mb-5">
              <div class="block-41">
                <h2 class="block-41-heading mb-5">Kemirgen İlaçlama</h2>
                <div class="block-41-text">
                  <p>Kemirgenlerle Mücadele; Kemirgen denildiğinde akla ilk gelen tür farelerdir. Tehlikeli kemirgen türleri içerisinde bulunan ve insanların yaşam alanlarında sıkça karşılaşılan bu kemirgenler de kendi içlerinde özelliklerine göre çeşitlilik gösterir.</p>
                  <p>Kemirgen Türleri ;</p>
                  <ul>
                    <li>Çatı Faresi</li>
                    <li>Lağım Faresi</li>
                    <li>Fındık Faresi </li>
                    <li>Ev Faresi</li>
                    <li>Kör Fare</li>
                  </ul>
                  <p>Mekânınızda bir fare ile karşılaştığınızda emin olun ki yalnız değildir. 
                    Hemen tedbir almalı ve acil olarak ilaçlama yaptırarak mekânınızı bu k
                    emirgenlerden temizlemelisiniz.
                    Bu alanda uzman olan firmamızla iletişime geçe
                    rek her türlü fare türüne karşın geliştirilen etkin ilaçlama teknikle
                    rimiz ve uzman kadromuzla fare sorunundan kısa sürede kolayca kurtula
                    bilirsiniz. Bireysel olarak farelerle mücadele etmeniz sonuç vermeyecek
                    tir. Riskli bir durumdur çünkü bu canlılar saldırgandır ve kolayca kaçabil
                    irler. Bu nedenle bu işi, profesyonel ekiplere bırakmak her açıdan sizi gü
                    vene alacaktır.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <img class="img-fluid" src="images/kemirgen-1.jpeg" alt="">
           </div>
           <div class="col-lg-4">
            <img class="img-fluid"   src="images/kemirgen-2.jpeg" alt="">
         </div>
         <div class="col-lg-4">
          <img class="img-fluid"   src="images/kemirgen-3.jpeg" alt="">
       </div>
              
          </div>
        </div>
      </section>


      <%-include("partials/footer"); %>
      <!-- loader -->
      <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
          <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
          <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/jquery.fancybox.min.js"></script>
      <script src="js/main.js"></script>

</body>

</html>
