<!DOCTYPE html>
<html lang="en">

<head>
  <title>MCT GROUP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%- include("partials/header") %>
  <!-- END header -->

  <div class="top-shadow"></div>
  <div class="inner-page">
    <div class="slider-item" style="background-image: url('images/baca-slider.png');">

      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
            <h1 class="pt-5"><span>Hakkımızda</span></h1>
            <p class="mb-5 w-75 pl-0">Çiçeği burnunda bir şirketiz</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="media block-6 d-block text-center">
            <div class="icon mb-3"><span class="ion-bookmark text-primary"></span></div>
            <div class="media-body">
              <h3 class="heading">Hakkımızda</h3>
              <p>Şirketimiz 2019 yılının son çeyreğinde faal duruma geçmiştir. Uzman kadromuzun iş tecrübeleri ve müşterilerin geri bildirimleri sayesinde şirket kurulmasında ön ayak olmuş ve MCT GROUP temelleri atılmıştır.</p>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="media block-6 d-block text-center">
            <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
            <div class="media-body">
              <h3 class="heading">Vizyonumuz</h3>
              <p>Şirketimiz; Müşterilerimizin vazgeçilmez iş ortağı, alanında ilk akla gelen marka,Sosyal sorumluluk bilince sahip ve
                bu değerlerini koruyan,güzide ülkemize dünya standartlarında bir hizmet verebilmeyi hedefler. </p>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="media block-6 d-block text-center">
            <div class="icon mb-3"><span class="ion-leaf text-primary"></span></div>
            <div class="media-body">
              <h3 class="heading">Misyonumuz</h3>
              <p>Şirketimiz; Dünyada gelişen son teknolojiyi kullanarak, sahip olduğu profesyonel insan kaynağıyla, müşteri memnuniyetini önceleyen kalite anlayışıyla ve ürettiği kreatif sektörel çözümleriyle, sektöründe fark yaratarak
                tercih edilen bir marka olmayı misyon edinmiştir.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- END section -->
  <%-include("partials/footer"); %>
  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>