<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-7 mb-5">
        <div class="embed-responsive  embed-responsive-16by9">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d911.4628259357315!2d30.528949539427433!3d39.78941842951708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cc3e1e47d65b93%3A0x265042e6773d87d7!2zWmFmZXIsIENpYmFsaSBTay4gTm86MTEsIDI2MjIwIFRlcGViYcWfxLEvRXNracWfZWhpcg!5e0!3m2!1str!2str!4v1568748201212!5m2!1str!2str"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="col-md-5 mb-5 pl-md-5">
        <h3>İletişim</h3>
        <ul class="list-unstyled footer-link">
          <li class="d-block">

            <span class="d-block">Adres:</span>
            <span>Zafer Mahallesi Cibali Sk. No : 11/C Tepebaşı / Eskişehir </span></li>
          <li class="d-block"><span class="d-block">Telefon:</span><span>+222 322 0 628</span></li>
          <li class="d-block"><span class="d-block">Cep :</span><span>0552 500 0 628</span></li>
          <li class="d-block"><span class="d-block">Email:</span><span>info@esmctgroup.com</span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-md-center text-left">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script> Tüm hakları saklıdır <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://talpidaex.github.io" target="_blank" class="text-primary">Oguzhan Bayrak</a>

        </p>
      </div>
    </div>
  </div>
</footer>