<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand " href="/">MCT GROUP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav pl-md-5 ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kurumsal">Kurumsal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hizmetler</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04" style="background :linear-gradient(to bottom right, #000000 25%, #ff9900 200%); color:white; border-radius : 0.5rem">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="/bacatemizleme" style="color:white"><strong>BACA TEMİZLEME</strong></a>
                <ul>
                  <li>Kurumlu</li>
                  <li>Yağlı</li>
                  <li>Fırın</li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="/koltuktemizleme" style="color:white" tabindex="-1"><strong>KOLTUK TEMİZLEME</strong></a>
                <ul>
                  <li>Mekan koltuğu</li>
                  <li>Araç koltuğu</li>
                  <li>Ev koltuğu</li>
                </ul>
              </li>
            </ul </li> <li class="nav-item">
            <a class="nav-link" href="/referanslar">Referanslar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/iletisim">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>